@charset "UTF-8";

/* colors */
:root {
  --amairo:    #2ca9e1; /* header    */
  --usuzakura: #fdeff2; /* nav       */
  --kurenai:   #d7003a; /* nav hover */
  --kogane:    #e6b422; /* main      */
  --wakaba:    #b9d08b; /* side      */
  --sorairo:   #a0d8ef; /* footer    */

  /* color: rgba(44, 169, 225, 0.3);
  color: rgba(253, 239, 242, 0.3);
  color: rgba(215, 0, 58, 0.3);
  color: rgba(230, 180, 34, 0.3);
  color: rgba(185, 208, 139, 0.3);
  color: rgba(160, 216, 239, 0.3); */

  --header-color:    rgba(44, 169, 224, 0.2);
  --nav-color:       rgba(253, 239, 242, 0.2);
  --nav-hover-color: rgba(215, 0, 58, 0.2);
  --main-color:      rgba(230, 180, 34, 0.2);
  --side-color:      rgba(185, 208, 139, 0.2);
  --footer-color:    rgba(160, 216, 239, 0.2);
}

body {
  margin:      0;
  /* フォント指定 */
  font-family: 'Hiragino Kaku Gothic Pro', sans-serif, 'メイリオ';
}

/* 基本 (iPhone) */
.page * {
  margin: 0;
  box-sizing: border-box; /* borderとpaddingをwidthに含める */
}

/* グリッド */
.page {
  display: grid;
  grid-template:
    "header" auto
    "nav"    auto
    "main"   1fr
    "side"   auto
    "footer" auto
    / 1fr;
  grid-gap: 1rem;
  min-height: 100vh;
}

/* ヘッダー */
.page-head {
  grid-area: header;
  padding:          15px 0;
  background-color: var(--header-color);
  text-align:       center;
}

.page-head img {
  width:          80px;
  vertical-align: bottom;
}

/* メインコンテンツ */
.page-main {
  grid-area:  main;
  background: var(--main-color);
}

/* サイドコンテンツ */
.page-aside {
  grid-area:  side;
  background: var(--side-color);
}

/* フッター */
.page-foot {
  grid-area:  footer;
  padding:    20px 0;
  background: var(--footer-color);
  text-align: center;
  font-size:  14px;
}

/* ナビゲーション */
.page-nav {
  grid-area:        nav;
  z-index:          100;
  background-color: var(--nav-color);
  display:          none;
}

.open .page-nav {
  display: block;
  height:  auto;
}

.page-nav ul {
  margin:     0;
  padding:    0;
  list-style: none;
  text-align: center;
}

.page-nav a {
  display:         block;
  margin:          0 1rem;
  padding:         0.25rem;
  border-bottom:   solid 1px #aaa;
  font-size:       1.25rem;
  text-decoration: none;
}

.page-nav a.active,
.page-nav a:hover {
  color: var(--kurenai);
  border-bottom:   solid 1px var(--kurenai);
}

/* ナビメニュー用 ボタン */
.page-btn,
.page-btn-close {
  grid-column:      1;
  grid-row:         1;
  justify-self:     start;
  align-self:       center;
  padding:          20px;
  border:           none;
  background-color: transparent;
  color:            #fff;
  font-size:        28px;
  cursor:           pointer;
}

.page-btn-close {
  display: none;
}

.open .page-btn {
  display: none;
}

.open .page-btn-close {
  display: block;
}

/* ##### 画面の横幅568ピクセル以上 ##### */
@media (min-width: 568px) {
  .page {
    grid-template:
      "header header" auto
      "nav    nav"    auto
      "main   side"   1fr
      "footer footer" auto
      / 3fr   1fr;
  }

  /* メインコンテンツ */
  .page-main {
    grid-area: main;
  }

  /* サイドコンテンツ */
  .page-aside {
    grid-area; side;
  }

  /* ナビゲーション */
  .page-nav {
    display:          block;
  }

  .page-nav li {
    display: inline-grid;
  }

  /* ボタン */
  .page-btn {
    display: none;
  }
}
