/* colors
   ======================================================================= */
:root {
  --estrella-color: #e06335;
}

/* ヘッダー
   ======================================================================= */
.header-title {
  display: inline-block;
  font-family: 'Kosugi Maru', sans-serif; /* Web Fonts */
  font-size: 2rem;
  width: 22rem;
  vertical-align: top;
}

#logo {
  text-decoration: none;
}
#logo img {
  width: 120px;
}

/* main section
   ======================================================================= */
.main-section {
  display: grid;
  grid-auto-rows: 70px;
  grid-template-columns: repeat(70px, 3);
  /* grid-template-rows:    1fr; */
  grid-auto-flow: row;
}
.main-section .article {
}
.main-section .article img {
  width: 30%;
}

/* card
   ======================================================================= */
 .card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
 }
/* ##### 画面の横幅568ピクセル以上 ##### */
@media (min-width: 568px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
.card-body {
  flex: 1;
  padding: 1.25rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: normal;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.9);
}

.card-img {
  width: calc(100vw - 1.25rem * 2);
  height: auto;
}
/* ##### 画面の横幅568ピクセル以上 ##### */
@media (min-width: 568px) {
  .card-img {
    max-width: 100%;
    height: auto;
  }
}

/* media
   ======================================================================= */
.media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.media-body {
  flex: 1;
  padding: 1.25rem;
}

.media-title {
  font-size: 1.25rem;
  font-weight: normal;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.9);
}

.media-title::first-letter {
  color: var(--estrella-color);
  font-size: larger;
}

.media-img {
  max-width: 80%;
}

/* side
   ======================================================================= */
.contact {
  background: #eee;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

.recent_entries ul,
.category ul {
  list-style: none;
  padding-left: 0;
}
.recent_entries li,
.category li {
  margin: 1rem;
}


/* 汎用部品
   ======================================================================= */
.btn {
  display:         inline-block;
  margin:          0;
  text-align:      center;
  vertical-align:  middle;
  cursor:          pointer;
  white-space:     normal;
  text-decoration: none;

  border:          1px solid var(--estrella-color);
  background:      var(--estrella-color);
  color:           white;

  padding:         5px 10px;
  font-size:       12px;
  line-height:     1.5;
  border-radius:   3px;
}

.btn-outline {
  border:          1px solid var(--estrella-color);
  background:      transparent;
  color:           var(--estrella-color);
}

.btn-lg {
  font-size:       18px;
}

/* title
   ======================================================================= */
.title {
  font-size: 1.25rem;
  font-weight: normal;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.9);
}

/* 写真の額縁
   ======================================================================= */
/* 【CSS3】で写真に色々装飾を加えてみた http://taneppa.net/css3_01/ */
.photo-frame {
  padding: 7px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 1px 1px 5px rgba(20,20,20,0.2); /* 影 横位置 縦位置 ぼかし幅 色 */
  filter: sepia(100%);
  transform:rotate(-3deg);
}
