/* colors
   ======================================================================= */
:root {
  --estrella-color:       #e06335;
  --estrella-hover-color: #dd3333;
}

/* ヘッダー
   ======================================================================= */
.header-title {
  display: inline-block;
  font-family: 'Kosugi Maru', sans-serif; /* Web Fonts */
  font-size: 2rem;
  width: 22rem;
  vertical-align: top;
}

#logo {
  text-decoration: none;
}
#logo img {
  width: 120px;
}

/* main section
   ======================================================================= */
.main-section {
  display: grid;
  grid-auto-rows: 70px;
  grid-template-columns: repeat(70px, 3);
  /* grid-template-rows:    1fr; */
  grid-auto-flow: row;
}
.main-section .article {
}
.main-section .article img {
  width: 30%;
}

/* card
   ======================================================================= */
 .card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: stretch;
 }
/* ##### 画面の横幅568ピクセル以上 ##### */
@media (min-width: 568px) {
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}
.card-body {
  flex: 1;
  padding: 1.25rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: normal;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.9);
}

.card-img {
  width: calc(100vw - 1.25rem * 2);
  height: auto;
}
/* ##### 画面の横幅568ピクセル以上 ##### */
@media (min-width: 568px) {
  .card-img {
    max-width: 100%;
    height: auto;
  }
}

/* media
   ======================================================================= */
.media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.media-body {
  flex: 1;
  padding: 1.25rem;
}

.media-title {
  font-size: 1.25rem;
  font-weight: normal;
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.9);
}

.media-title::first-letter {
  color: var(--estrella-color);
  font-size: larger;
}

.media-img {
  max-width: 80%;
}

/* side
   ======================================================================= */
.contact {
  background: #eee;
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
}

.recent_entries ul,
.category ul {
  list-style: none;
  padding-left: 0;
}
.recent_entries li,
.category li {
  margin: 1rem;
}


/* 汎用部品
   ======================================================================= */
input.btn,
.btn {
  display:         inline-block;
  margin:          0;
  text-align:      center;
  vertical-align:  middle;
  cursor:          pointer;
  white-space:     normal;
  text-decoration: none;

  border:          1px solid var(--estrella-color);
  background:      var(--estrella-color);
  color:           white;

  padding:         5px 10px;
  font-size:       12px;
  line-height:     1.5;
  border-radius:   3px;
}
input.btn:hover,
.btn:hover {
  border:          1px solid var(--estrella-hover-color);
  background:      var(--estrella-hover-color);
}

.btn-outline {
  border:          1px solid var(--estrella-color);
  background:      transparent;
  color:           var(--estrella-color);
}
.btn-outline:hover {
  border:          1px solid var(--estrella-hover-color);
  background:      transparent;
  color:           var(--estrella-hover-color);
}

.btn-lg {
  font-size:       18px;
}

/* title
   ======================================================================= */
.title {
  font-size:   1.25rem;
  font-weight: normal;
  box-shadow:  0px 1px 2px rgba(255, 255, 255, 0.9);
}

.sub-title {
  background-color: #f5f5f5;
  padding:          14px 10px 10px;
  border-top:       2px solid var(--estrella-color);
  border-bottom:    1px solid #e9e9e9;
  font-size:        1.25rem;
}

.dropcaps::first-letter {
  color: var(--estrella-color);
  font-size: 2rem;
}

/* 写真の額縁
   ======================================================================= */
/* 【CSS3】で写真に色々装飾を加えてみた http://taneppa.net/css3_01/ */
.photo-frame {
  padding: 7px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 1px 1px 5px rgba(20,20,20,0.2); /* 影 横位置 縦位置 ぼかし幅 色 */
  filter: sepia(100%);
  transform:rotate(-3deg);
}

.normal {
  filter: sepia(0%);
  transform:rotate(0deg);
}

/* margin/padding (Bootstrap 4より)
   ======================================================================= */
.m-0 {  margin: 0 !important; }
.m-1 {  margin: 0.25rem !important; }
.m-2 {  margin: 0.5rem !important; }
.m-3 {  margin: 1rem !important;　}
.m-4 {  margin: 1.5rem !important; }
.m-5 {  margin: 3rem !important; }
.p-0 {  padding: 0 !important; }
.p-1 {  padding: 0.25rem !important; }
.p-2 {  padding: 0.5rem !important; }
.p-3 {  padding: 1rem !important; }
.p-4 {  padding: 1.5rem !important; }
.p-5 {  padding: 3rem !important; }

/* form (Bootstrap 4より)
   ======================================================================= */
.form-control {
  display:          block;
  /* width:            100%; */
  /* height:           34px; */
  padding:          6px 12px;
  font-size:        14px;
  line-height:      1.42857143;
  color:            #555;
  background-color: #fff;
  background-image: none;
  border:           1px solid #ccc;
  border-radius:    4px;
  box-shadow:       inset 0 1px 1px rgba(0,0,0,0.075);
  transition:       border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline:      0;
  box-shadow:   inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
