#homer[style="background:url(../content/homer.jpg) right center no-repeat #ececec; height:135px; width:280px; padding:30px 10px;"]
  strong
    | Homer
  br
  em
    | \noun\
  br
  strong
    | 1.
  |  American bonehead
  br
  strong
    | 2. Pull a Homer-
  br
  |  to succeed despite
  br
  |  idiocy 
script
  |  $('#homer strong').css({color:'red'}); 
