<a href="#">日本で一番最初のWebサイト</a>

<H1>KEK Information</H1>

Welcome to the KEK WWW server. This server is still in the process of
being set up. If you have on this KEK Information page, send
email to morita@kek.jp
<DL>

<DT><A HREF=LineMode/QuickGuide.html>Help</A>
<DD>On this program,
  or the <A HREF=http://info.cern.ch/hypertext/WWW/TheProject.html> World-Wide Web</A>

<DT><A HREF=http://info.cern.ch/hypertext/DataSources/bySubject/Physics/HEP.html>H E P</A>
<DD> World Wide Web service provided by other High-Energy Physics institues.

<DT><A HREF=kiwi.html>KIWI</A>
<DD>KEK Integrated Workstation environment Initiative.

<DT><A HREF=Root.html>Root</A>
<DD>WS Manager Support(Root)[EUC].

<DT>See also:
<DD>
<A HREF=http://info.cern.ch/hypertext/DataSources/ByAccess.html>Types of server</A> ,and
<A HREF=http://info.cern.ch/hypertext/DataSources/bySubject/Overview.html>OTHER SUBJECTS</A>
</DL>
